<div class="row justify-content-center">
  <div class="col-md-6">
    <h1 class="h3 fw-bold text-dark">{{ title }}</h1>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <label for="titleInput" class="form-label">{{ formsSchema.landscape.title.name }}<font class="text-danger"
                *ngIf="formsSchema.landscape.title.validates.isRequired">*</font></label>
            <input id="titleInput" [type]="formsSchema.landscape.title.type" class="form-control"
              #titleLandscape="ngModel" name="titleLandscape" [(ngModel)]="data.title"
              [required]="formsSchema.landscape.title.validates.isRequired">
            <div *ngIf="titleLandscape.invalid && (titleLandscape.dirty || titleLandscape.touched)"
              class="invalid-feedback text-start"
              [class.d-block]="titleLandscape.errors && titleLandscape.errors['required']">{{
              formsSchema.landscape.title.error }}
            </div>
          </div>
          <div class="mb-3">
            <label for="contentInput" class="form-label">{{ formsSchema.landscape.content.name }}<font
                class="text-danger" *ngIf="formsSchema.landscape.content.validates.isRequired">*</font></label>
            <textarea class="form-control" id="contentInput" rows="5" #content="ngModel" name="content"
              [(ngModel)]="data.content" [required]="formsSchema.landscape.content.validates.isRequired"></textarea>
            <div *ngIf="content.invalid && (content.dirty || content.touched)" class="invalid-feedback text-start"
              [class.d-block]="content.errors && content.errors['required']">{{ formsSchema.landscape.content.error }}
            </div>
          </div>
          <div class="mb-3">
            <label for="imageInput" class="form-label">{{ formsSchema.landscape.image.name }}<font class="text-danger"
                *ngIf="formsSchema.landscape.image.validates.isRequired">*</font></label>
            <input id="imageInput" [type]="formsSchema.landscape.image.type" class="form-control" #image="ngModel"
              name="image" [(ngModel)]="data.image" [required]="formsSchema.landscape.image.validates.isRequired"
              [pattern]="formsSchema.landscape.image.validates.pattern">
            <div *ngIf="image.invalid && (image.dirty || image.touched)" class="invalid-feedback text-start"
              [class.d-block]="image.errors && (image.errors['required'] || image.errors['pattern'])">{{
              formsSchema.landscape.image.error }}
            </div>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
        <button class="btn btn-outline-secondary" type="button" (click)="form.resetForm()">重設</button>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">立即{{ title.replace('景點', '') }}</button>
      </div>
    </form>
  </div>
</div>
