<form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="mb-3">
        <label for="emailInput" class="form-label">{{ formsSchema.email.name }}<font class="text-danger"
                *ngIf="formsSchema.email.validates.isRequired">*</font></label>
        <input id="emailInput" [type]="formsSchema.email.type" class="form-control" #email="ngModel" name="email"
            [(ngModel)]="data.email" email [required]="formsSchema.email.validates.isRequired">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback text-start"
            [class.d-block]="email.errors && (email.errors['required'] || email.errors['email'])">{{
            formsSchema.email.error }}
        </div>
    </div>
    <div class="mb-3">
        <label for="passwordInput" class="form-label">{{ formsSchema.password.name }}<font class="text-danger"
                *ngIf="formsSchema.password.validates.isRequired">*</font></label>
        <input id="passwordInput" [type]="formsSchema.password.type" class="form-control" #password="ngModel"
            name="password" [(ngModel)]="data.password" [required]="formsSchema.password.validates.isRequired"
            [pattern]="formsSchema.password.validates.pattern">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback text-start"
            [class.d-block]="password.errors && (password.errors['required'] || password.errors['pattern'])">{{
            formsSchema.password.error.default }}
        </div>
    </div>
    <div class="mb-3">
        <label for="nameInput" class="form-label">{{ formsSchema.name.name }}<font class="text-danger"
                *ngIf="formsSchema.name.validates.isRequired">*</font></label>
        <input id="nameInput" [type]="formsSchema.name.type" class="form-control" #name="ngModel" name="name"
            [(ngModel)]="data.name" [required]="formsSchema.name.validates.isRequired"
            [minlength]="formsSchema.name.validates.minlength">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback text-start"
            [class.d-block]="name.errors && (name.errors['required'] || name.errors['minlength'])">{{
            formsSchema.name.error }}
        </div>
    </div>
    <div class="d-grid mt-4 pt-3">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">立即{{ title }}</button>
    </div>
</form>
